node_modules
dist
.env
.vscode
.DS_Store
coverage
*.log
.idea
*.iml
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.cache
.next
out
/build
*.tsbuildinfo
public/locales
*.local
*.bak
*.tmp
*.old